body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    color:black;
   
    /* position:fixed; */
    font-family: 'Segoe UI';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* text:black;
    color:green; */
}
/* #67{
    padding:50;
    margin:200;
} */

header {
    background: green ;
    color: black;
    padding: 20px;
    /*color padding*/
    text-align: center;
    /* height:80px;*/
    width:100%; 
    /* border-top-style: double; top line double */
    /* padding-top: 10px; */
    /* margin-top: 20px; */
}

main {
    /* color: green; */
    /*text-align:center;*/
    /* text:black; */

    padding: 10px;
    /* margin: 0 auto; */
    /* margin: 50px; */
    min-width: 800px;
    margin: 0px 440px; 
    /* 440px from lest-right */
    /* margin: 0 auto;  */
    
}
h1 {
    color: #333;
    
}
h2 {
    color:green;
    /*text-align:center;*/

    margin-top: 20px;

}

p {
    line-height: 1.2;
}
ul{
    padding :0;
    color:black;
    /* list-style-type: none; it makes type disc*/
}
li{
    border-left:4px solid rgb(19, 194, 19);
    /* border-length:60px; */
    margin:15px 30px;
    padding:10px ;
    background-color: aliceblue;
    
}
a {
/* a :hover{ */
    color:green;
    text-decoration: none; 
    /* text deco none makes none decoration like underline */
}
a:hover{
    text-decoration: underline;
    color:rgb(128, 126, 0);
}
 footer{
    background-color:rgba(0, 0, 0, 0.936) ;
    color:white;
    padding:10px;
    /* margin:2px; */
    text-align:center;
    position:fixed;
    /* position:Top Right; */
    width:100%;
    bottom:none;
    height:100%;
}
.foot footer{
    color:white;
    /* text-decoration: none; */
    text-decoration: underline;
    margin:0 2px;
}
div a{
    font-size: 15upx;
}
.foot a{
    /* font-size: 15upx; */
    color:white;
    text-decoration: none;
    padding:12px;
    margin:2px;
}
@media only screen and (max-width:1250px){
    main{
        /* background-color: blue; */
        margin:0px 120px;
    }
}
@media only screen and (max-width:700px){
    main{
        /* background-color: blue; */
        margin:0px 120px;
    }
    footer{
        text-align: center;
    }
}
@media only screen and (max-width:600px){
    header{
        text-align:center;
    }
    main{
        /* background-color: blue; */
        text-align:center;
        margin:0px 0px;
        display:flex;
    }
    footer{
        /* background-color: blue; */
        text-align:center;
        margin:0px 0px;
        display:flex;
    }
}
@media only screen and (max-width:560px){
    main{
        /* background-color: blue; */
        /* margin:0px 120px;*/
        flex-wrap:wrap;
        
    } 
    footer{
        text-align: center;
        background-color: blueviolet;
        flex-wrap:wrap;
        
    }
}